// 🔹 COMMENTS SECTION
.comments-part {
    background: $bg-light;
    padding: 0.5em;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    .comments {
        .comment {
            display: flex;
            position: relative;
            align-items: flex-start;
            gap: 10px;
            padding: 1em 0;
            border-bottom: 1px solid #eee;

            .avatar img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }

            .content {
                flex: 1;

                .name {
                    font-weight: bold;
                    color: $text-dark;
                }

                .date {
                    color: $text-light;
                }

                p {
                    margin-top: 5px;
                    color: $text-light;
                }
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: -5%;
                background: $secondary-color;
                opacity: 0.2;
            }
        }
    }

    .write {
        margin-top: 20px;

        textarea {
            width: 100%;
            height: 80px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: $border-radius;
            resize: none;

            &:focus {
                outline: none;
                border: 1px solid $primary-color;
            }
        }
    }

    button {
        display: flex;
        flex-direction: row;
        background: $primary-color;
        color: white;
        padding: 10px 25px;
        border-radius: $border-radius;
        border: none;
        cursor: pointer;
        text-align: center;

        &:hover {
            background: darken($primary-color, 10%);
        }

        svg {
            width: 16px;
            height: 16px;
            margin-left: 8px;
        }
    }
}