// 🔹 COURSE MATERIALS
.materials {
    padding: $s-padding;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    .details {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 2em;

        .info {
            position: relative;
            display: flex;
            flex: 0 0 45%;
            align-items: center;
            justify-content: space-between;
            gap: 8px;

            @media (max-width: $md-less-screen) {
                flex: 1 0 45%;
            }

            .left {
                display: flex;
                align-items: center;

                .ico img {
                    width: 20px;
                    height: 20px;
                    opacity: 0.6;
                }

                .title {
                    color: $text-light;
                }
            }

            .val {
                color: $text-dark;
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: -10%;
                background: $secondary-color;
                opacity: 0.2;
            }
        }
    }
}