$ic: 20px;

.section-services {
    margin: 0 0 2em 2em;
    display: flex;
    gap: 20px;

    .btn-sec {
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: opacity 0.5s;

        img {
            width: $ic;
            height: $ic;
            opacity: 0.6;
        }

        &:hover img {
            opacity: 0.9;
        }
    }
}